* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, #bdd9d7, #03363d);
  font-size: 16px;
  font-family: "monospace", serif;
}
h2 {
  margin-top: 10px;
  font-size: 3rem;
  text-align: center;
  text-shadow: 3px 4px 10px #bdd9d7;
}
.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 80vh;
  width: 350px;
  border-radius: 20px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
h3 {
  font-size: 2rem;
  text-shadow: 3px 4px 15px #bdd9d7;
}
input {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 300;
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 17px;
  font-weight: 500px;
  background-color: #66c7d4;
}
button:hover {
  background-color: #3aa0b9;
  cursor: pointer;
}
.weather-item {
  background-color: #e0f7fa; /* light blue card effect */
  padding: 8px;
  margin: 4px 0;
  border-radius: 6px;
}
.heading {
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}
#reset {
  display: none;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #ff5252;
  color: white;
  border: none;
}

#reset:hover {
  background-color: #e04848;
}
